<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>

<nav class="Painel">
    <h1>Novidades</h1>
    <li>
        Novas roupas vindo da Italia
    </li>
    <li>
        Novas Roupas vindo da Espanha
    </li>

    <li>
        Novas roupas vindo da França
    </li>
</nav>

    <h1>Lista não ordenadas</h1>
    <ul>
        <li>Primeiro item da lista</li>
        <li>
            Segunda item da lista

            <ul>
                <li>Primeiro item da lista aninhada</li>
                <li>Segundo item da lista aninhada</li>
            </ul>
        </li>
        <li>Terceiro item da lista</li>
    </ul>

    <h2>Listas Ordenadas</h2>

    <li>Primeiro item da lista</li>
    <li>Segundo item da lista</li>
    <li>Terceiro item da lista</li>
    <li>Quarto item da lista</li>
    <li>Quinto item da lista</li>

    <h3>Lista de definição</h3>

    <dt>HTML</dt>

    <dd>
        Html é a linguagem de marcação de textos utilizada para exibir
        textos como páginas na Internet.
    </dd>

    <dt>Navegador</dt>
    <dd>
        Navegador é o software que requisita um documento HTML
        através do protocolo HTTP e exibe seu conteudo em uma janela.
    </dd>
</body>
</html>