<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
 	<!--Inicio da area menu-->
	<div id="navegacao">
		<div id="area">
			<div id="logo">
				<h1><span class="verde">Tec</span>Flying</h1>
			</div>
			<div id="menu"> 
				<a href="index.html">Home</a>
				<a href="galeria.html">Galeria</a>
				<a href="entretenimento.html">Cadastro</a>
				<a href="testemunho.html">Recomendações</a>
			</div>
		</div>
	</div>
 <!--Fim da area menu-->