<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
 	<!--Inicio da area menu-->
	<div id="navegacao">
		<div id="area">
			<div id="logo">
				<h1><span class="verde">Tec</span>Flying</h1>
			</div>
			<div id="menu"> 
				<a href="index.html">Home</a>
				<a href="galeria.html">Galeria</a>
				<a href="entrenimento.html">Cadastro</a>
				<a href="testemunho.html">Recomendações</a> 
			</div>
		</div>
	</div>
 <!--Fim da area menu-->

 <!--Inicio do conteudo-->
    
 <article>

	<div id="primeiro-conteudo">
		<h1 id="historia">Historia</h1>
        <figure>
			<img src="imagens/imagem4.jpg" alt="imagem-admin" width="660">
			<figcaption><span style="color: green;">Tec</span>Flying</figcaption>
		</figure>
	</div>

	<div id="segundo-conteudo">
		<h2 style="color:green">Missão</h2>
		<figure>
             <img src="imagens/imagem3.jpg" alt="">
			 <figcaption><span style="color:green;">Tec</span>Flying</figcaption>
		</figure>
	</div>

	</article>

	<div id="container-rodape">
		<div id="rodape" style="clear: both;">
			&copy; Copyright 2021-2022 <span>Tec</span>Flying
		</div>
	</div>






 

 






</body>
</html>