<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Testemunhos</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<style type="text/css">

		*{

			margin: 0;
			padding: 0;
		}
		
		body {
			background: #ccc;
		}
		.titulo {
			margin: 5px;
		}
		.container {
			border: 2px solid #ccc;
			background-color: #ffffff;
			border-radius: 5px;
			padding: 16px;
			margin: 16px;

		}

		.container::after {

			content: "";
			clear: both;
			display: table;
		}
		.container img {
			float: left;
			margin-right:20px;
			border-radius: 50%;
		}

		.container span {
			font-size: 20px;
			margin-right: 15px;
			color: red;

		}






	</style>
</head>
<body>

	<!--Inicio da area menu-->
	<div id="navegacao">
		<div id="area">
			<div id="logo">
				<h1><span class="verde">Tec</span>Flying</h1>
			</div>
			<div id="menu"> 
				<a href="index.html">Home</a>
				<a href="galeria.html">Galeria</a>
				<a href="entretenimento.html">Cadastro</a>
				<a href="testemunho.html">Recomendações</a>
			</div>
		</div>
	</div>
 <!--Fim da area menu-->

 <!--Inicio do conteudo-->

	<h2 class="titulo">Testemunhos</h2>
	<div class="container">
		<img src="" alt="imagem não carregada" style="width:98px">
		<p><span>Hélio Tome Chianica.</span> Programador Back-End</p>
		<p>Henrique Tando é um excelente tecnico de redes e ajudou-me muito</p>
	</div>

	<div class="container">
		<img src="imagens/miller.jpeg" alt="imagem não carregada" style="width:98px">
		<p><span>Ernesto Ndula.</span> CEO </p>
		<p>Isaias Marcos um excelente profissional, e muito criativo</p>
	</div>

</body>
</html>